.example-section {
  margin: 12px 0;
  background-color: #565656b5;
  border-radius: 5px;
  width: 550px;
  padding: 10px;
}


.example-margin {
  margin: 0 12px;
}

div {
  list-style-type: none;
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

h3 {
  color: white;
}